<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LMSDBConnectionString" connectionString="Data Source=MUNAWAR-ICTCODE\SQLEXPRESS_2014;Initial Catalog=LMS;Integrated Security=True" providerName=".NET Framework Data Provider for SQL Server" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>